html,
body {
    margin: 0;
}

body {
    display: flex;
    flex-wrap: wrap;
}

h1 {
    font-weight: bold;
    font-size: 6rem;
}

h2 {
    font-weight: lighter;
    font-size: 3.75rem;
}

h3 {
    font-size: 3rem;
}

h4 {
    font-size: 2.125rem;
}

h5 {
    font-size: 1.5rem;
}

h6 {
    font-size: 1rem;
}

h3,
h4,
h5,
h6 {
    font-weight: normal;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
    font-family: 'Raleway', sans-serif;
}

.valign {
    align-items: center;
    justify-content: center;
}

.signup-header {
    display: flex;
    flex-wrap: wrap;
    position: fixed;
    margin-top: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 40px;
    background-color: rgba(13, 13, 13, .9);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    align-items: center;
    padding: 20px;
    z-index: 2;
}

.signup-header img {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 65px;
}

.signup-header a {
    color: #fff;
}

.signup-header a i {
    font-size: 2rem;
}

.center-align {
    text-align: center;
}

.signup-body {
    background: url("/image/signup-background.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.signup-container {
    position: relative;
    width: 800px;
    padding: 20px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    background-color: rgba(255, 255, 255, .85);
}

.signup-container .image {
    position: absolute;
    left: -400px;
    top: 50%;
    transform: translateY(-50%);
}

.divider {
    width: 100%;
    height: 1px;
    background-color: #9e9e9e;
}

.btn i.left {
    color: #fff;
    float: left;
    margin-right: 20px;
    font-size: 28px;
}

.command-line {
    padding: 20px;
    background-color: #212121;
    border-radius: 20px;
}

.command-line p {
    color: #4caf50;
}

.shadow {
    padding: 20px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-family: 'Raleway', sans-serif;
    font-size: 1rem;
}

.mobile-menu {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1000;
}

.mobile-menu .overlay{
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1001;
    transition: background-color .25s cubic-bezier(0.4, 0.0, 0.2, 1);
}

.mobile-menu.out .overlay{
    background-color: rgba(0, 0, 0, 0);
}

.mobile-menu.active .overlay{
    visibility: visible;
    background-color: rgba(0, 0, 0, 0.8);
}

.mobile-menu ul{
    position: fixed;
    padding: 0;
    margin: 0;
    left: -300px;
    top: 0;
    width: 300px;
    height: 100%;
    z-index: 10000;
    background: #fff;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    transition: left .25s cubic-bezier(0.0, 0.0, 0.2, 1);
}

.mobile-menu.active ul{
    left: 0;
}

.mobile-menu ul li{
    font-family: 'Raleway', sans-serif;
    transition: background-color 0.15s cubic-bezier(0.4, 0.0, 0.2, 1); 
}
.mobile-menu ul li:hover{
    background-color: #f5f5f5;
}


.mobile-menu ul li a{
    display: block;
    padding: 1em;
    width: 100%;
    height: 100%;
    color: #333447;
}

.mobile-menu.out ul{
    transition: left .2s cubic-bezier(0.4, 0.0, 1, 1);
    left: -300px;
}



.snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}


/* Animations to fade the snackbar in and out */

@-webkit-keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }
    to {
        bottom: 30px;
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }
    to {
        bottom: 30px;
        opacity: 1;
    }
}

@-webkit-keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }
    to {
        bottom: 0;
        opacity: 0;
    }
}

@keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }
    to {
        bottom: 0;
        opacity: 0;
    }
}

@media only screen and (max-width: 1440px) {
    .signup-container .image {
        left: -90px;
    }
    .signup-container .image img {
        width: 400px;
    }
}

.signup-container .content {
    margin-left: 300px;
}

.signup-container h1 {
    letter-spacing: .05rem;
}

@media only screen and (max-width: 768px) {
    .signup-container .image {
        display: none;
    }
    .signup-container .content {
        margin-left: 0px;
    }
}

form .input-wrap {
    width: 100%;
    margin-bottom: 20px;
}

form input:not([type="checkbox"]) {
    width: 100%;
    padding: 0 35px 0 35px;
    height: 64px;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, .9);
    border-radius: 30px;
    outline: none;
    border: 1px solid #9e9e9e;
    font-family: 'Raleway', sans-serif;
    font-size: 1rem;
    transition: 0.3s cubic-bezier(.25, .8, .25, 1);
    transition-property: box-shadow, background-color;
}

.input-label {
    font-family: 'Raleway', sans-serif;
    font-size: 1rem;
}

a {
    font-family: 'Raleway', sans-serif;
    color: #2196f3;
    text-decoration: none;
}

form select {
    display: block;
    width: 100%;
    font-family: 'Raleway', sans-serif;
    font-size: 1rem;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, .9);
    transition: 0.3s cubic-bezier(.25, .8, .25, 1);
    height: 64px;
    border: 1px solid #9e9e9e;
    border-radius: 30px;
    padding: 0 35px 0 35px;
    transition-property: box-shadow, background-color;
    outline: none;
}

form input:not([type="checkbox"]):focus {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    background-color: #fff;
}

.btn {
    display: inline-block;
    line-height: 28px;
    cursor: pointer;
    text-decoration: none;
    color: #fff;
    padding: 20px;
    border-radius: 50px;
    font-family: 'Raleway', sans-serif;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: box-shadow 0.3s cubic-bezier(.25, .8, .25, 1), background 0.8s, background-size 0.8s;
    text-transform: uppercase;
}

.blue-btn {
    background-color: #1e88e5;
}

.red-btn {
    background-color: #e53935;
}

.ripple {
    background-position: center;
    transition: box-shadow 0.3s cubic-bezier(.25, .8, .25, 1), background 0.8s;
}

.blue-btn.ripple:hover {
    background: #47a7f5 radial-gradient(circle, transparent 1%, #47a7f5 1%) center/15000%;
}

.blue-btn.ripple:active {
    background-color: #6eb9f7;
    background-size: 100%;
    transition: box-shadow 0.3s cubic-bezier(.25, .8, .25, 1), background 0s;
}

.red-btn.ripple:hover {
    background: #e57373 radial-gradient(circle, transparent 1%, #e57373 1%) center/15000%;
}

.red-btn.ripple:active {
    background-color: #ef9a9a;
    background-size: 100%;
    transition: box-shadow 0.3s cubic-bezier(.25, .8, .25, 1), background 0s;
}

.animated-btn {
    animation-name: animatedBtn;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}

ul li {
    font-family: 'Raleway', sans-serif;
}

.overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 200;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(33, 33, 33, .9);
    height: 64px;
    z-index: 100;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

nav .logo img {
    height: 54px;
    margin-left: 10px;
    margin-top: 10px;
}

nav ul {
    float: right;
    overflow: hidden;
    margin: 0;
    margin-right: 40px;
    list-style-type: none;
}

nav ul li {
    height: 100%;
    float: left;
    list-style: none;
    padding-left: 15px;
    padding-right: 15px;
    transition: background-color 250ms cubic-bezier(0.4, 0.0, 0.2, 1);
}

nav ul li:hover {
    background-color: rgba(255, 255, 255, .08);
}

nav ul li a {
    display: block;
    color: #fff;
    height: 64px;
    text-align: center;
    line-height: 64px;
    font-weight: 500;
    letter-spacing: .06rem;
}

.hide-on-mobile {
    display: block;
}

.show-on-mobile{
    display: none;
}

.container {
    margin: 0 auto;
    max-width: 1280px;
    width: 90%;
}

@media only screen and (min-width: 601px) {
    .container {
        width: 85%;
    }
}

@media only screen and (min-width: 993px) {
    .container {
        width: 70%;
    }
}

@media only screen and (max-width: 600px) {
    .hide-on-mobile {
        display: none;
    }
}

@media only screen and (max-width: 600px) {
    .show-on-mobile {
        display: block;
    }
}

footer {
    background: #212121;
    padding: 40px;
    width: 100%;
}

@keyframes animatedBtn {
    from {
        transform: translateY(-2px);
    }
    to {
        transform: translateY(2px);
    }
}